@model Expendio.ViewModel.HistoryViewModel;

@{
    ViewData["Title"] = "History";
}

<h1>
    <h2>Income</h2>
    @{
        if (Model.Incomes==null)
        {
            <h3>No Income</h3>
        }
        else
        {
            foreach (Income income in Model.Incomes)
            {
                <p>@income.Amount,@income.Source</p>
            }
        }      
    }
    <h2>Expense</h2>
    @{
        if (Model.Expenses == null)
        {
            <h3>No Expense</h3>
        }
        else
        {
            foreach (Expense expense in Model.Expenses)
            {
                <p>@expense.Amount,@expense.Category</p>
            }
        }
    }
</h1>

