@{
    Layout = "_HomeLayout";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <div class="row text-center">
                <div class="col-12">
                    <h1>Expendio</h1>
                    <p>Track your money.</p>
                    <a class="btn btn-primary me-2 mb-2" href="Account/Login">Login</a>
                    <a class="btn btn-secondary mb-2" href="Account/SignUp">Signup</a>
                </div>
            </div>
            <div class="row mt-5 text-center">
                <div class="col-12">
                    <h2>Features</h2>
                    <ul class="list-unstyled">
                        <li>✔️ Easy expense tracking</li>
                        <li>✔️ Customizable categories</li>
                        <li>✔️ Detailed reports</li>
                        <li>✔️ Budget planning</li>
                        <li>✔️ Multi-currency support</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center d-flex align-items-center">
            <img src="https://www.vhv.rs/dpng/d/546-5464937_cash-payment-icon-cash-money-icon-png-transparent.png" alt="Cash Image" class="img-fluid mx-auto" />
        </div>
    </div>
</div>
